<section id="home" class="main-banner">
    <div class="slider-new-2 owl-carousel owl-theme">
        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-01.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>EXCELL-ON SERVICES DESIGN</h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-02.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>INTERIOR DESIGN</h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item slider-screen">
            <div class="slider-img-full">
                <img src="~/Content/uploads/slider-03.jpg" alt="" />
            </div>
            <div class="container">
                <div class="slider-content text-white">
                    <div class="in-box">
                        <h2>INTERIOR DESIGN </h2>
                        <p>Specialized in design and coding graphics and websites.</p>
                        <a class="btn-slider hvr-rectangle-out" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div id="products" class="section wb">
    <div class="container-fluid">
        <div class="section-title text-center">
            <h3>Products</h3>
            <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
        </div><!-- end title -->

        <div class="gallery-menu row">
            <div class="col-md-12">
                <div class="button-group filter-button-group text-center">
                    <button class="hvr-rectangle-out active" data-filter="*">All</button>
                    @foreach (var item in ViewBag.ProductCategories)
                    {
                        <button class="hvr-rectangle-out active" data-filter=".@item.id">@item.name</button>
                    }

                </div>
            </div>
        </div>

        <div class="gallery-list row">
            @foreach (var item in ViewBag.Product)
            {            
                <div class="col-md-4 col-sm-6 gallery-grid @item.cat_id ">
                    <div class="gallery-single fix">
                        <img src="~/Content/uploads/gallery_img-03.jpg" class="img-fluid" alt="Image">
                        <div class="img-overlay">
                            <p>@item.quantity_per_unit</p>
                            <p>@item.unit_price</p>
                            <p>@item.units_in_stock</p>
                            <h3>@item.description</h3>
                            <a href="~/Content/uploads/gallery_img-03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
