@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

@section AdditionStyles{


}


<style>
    [readonly] {
        background-color: #FFF !important;
    }

    [data-fancybox] img {
        width: 110px;
    }
</style>

<div class=" no-margin">
    <div class="content-title">
        <div class="caption">
            <span class="caption-subject font-green-sharp bold uppercase">Product</span>
        </div>
    </div>
    <div class="content-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-sm btn-success" data-toggle="modal" data-target="#create_modal">
                        Add New
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <table id="tblProduct" class="display table table-striped" style="width:100%"></table>
    </div>

</div>

<!-- Modal -->
@* Click Add new  *@
<div class="modal fade" id="create_modal" data-backdrop="false" tabindex="1" role="dialog" aria-labelledby="create_modal_title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create_modal_title">Add New Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="" class="control-label">Name<span class="required">*</span></label>
                        <input type="text" class="form-control" name="name" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Categories<span class="required">*</span></label>
                        <select type="text" class="form-control" name="cat_id" required>
                            @foreach (var item in ViewBag.Categories)
                            {
                                <option value="@item.id">@item.name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Quantity Per Unit<span class="required">*</span></label>
                        <input type="text" class="form-control" name="quantity_per_unit" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Unit Price<span class="required">*</span></label>
                        <input type="number" min="0" step="1.00" class="form-control" name="unit_price" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Units In Stock<span class="required">*</span></label>
                        <input type="number" min="1" step="1" class="form-control" name="units_in_stock" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Images<span class="required">*</span></label>
                        <input type="file" min="1" step="1" class="form-control" name="files" multiple accept="image/*" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Description<span class="required">*</span></label>
                        <textarea class="form-control" name="description" rows="3" required>
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="margin:auto">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary create">Save changes</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="modal fade" id="edit_modal" data-backdrop="false" tabindex="1" role="dialog" aria-labelledby="update_modal_title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="update_modal_title">Update Product Infomation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" name="id" required />

                    <div class="form-group">
                        <label for="" class="control-label">Name<span class="required">*</span></label>
                        <input type="text" class="form-control" name="name" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Categories<span class="required">*</span></label>
                        <select type="text" class="form-control" name="cat_id" required>
                            @foreach (var item in ViewBag.Categories)
                            {
                                <option value="@item.id">@item.name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Quantity Per Unit<span class="required">*</span></label>
                        <input type="text" class="form-control" name="quantity_per_unit" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Unit Price<span class="required">*</span></label>
                        <input type="number" min="0" step="1.00" class="form-control" name="unit_price" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Units In Stock<span class="required">*</span></label>
                        <input type="number" min="1" step="1" class="form-control" name="units_in_stock" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Images<span class="required">*</span></label>
                        <input type="file" min="1" step="1" class="form-control" name="files" multiple accept="image/*" required />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Description<span class="required">*</span></label>
                        <textarea class="form-control" name="description" rows="3" required>
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="margin:auto">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary update">Save changes</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


<div class="modal fade" id="view_modal" data-backdrop="false" tabindex="1" role="dialog" aria-labelledby="view_modal_title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="view_modal_title">Product Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="control-label">Name</label>
                        <input type="text" class="form-control" name="name" readonly />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Categories</label>
                        <select type="text" class="form-control" name="cat_id" readonly>
                            @foreach (var item in ViewBag.Categories)
                            {
                                <option value="@item.id">@item.name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Quantity Per Unit</label>
                        <input type="text" class="form-control" name="quantity_per_unit" readonly />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Unit Price</label>
                        <input type="number" min="0" step="1.00" class="form-control" name="unit_price" readonly />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Units In Stock</label>
                        <input type="number" min="1" step="1" class="form-control" name="units_in_stock" readonly />
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Description</label>
                        <textarea class="form-control" name="description" rows="3" readonly>
                        </textarea>
                    </div>
                    <div class="images">
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="margin:auto">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

@section AdditionScripts{
    <script>
        class PageHandler {
            constructor() {
                var instance = this;
                instance.$table = $("#tblProduct");
                instance.$createMd = $("#create_modal");
                instance.$createMd.find(".create").on('click', (e) => {
                    e.preventDefault();
                    instance.create();
                });
                instance.$createMd.find("[data-dismiss]").on('click', (e) => {
                    instance.$createMd.find("form")[0].reset();
                });

                instance.$editMd = $("#edit_modal");
                instance.$editMd.find(".update").on('click', (e) => {
                    e.preventDefault();
                    instance.edit();
                });
                instance.$viewMd = $("#view_modal");
                instance.initTable();
                $(".fancybox-thumb").fancybox({
                    prevEffect: 'none',
                    nextEffect: 'none',
                    helpers: {
                        title: {
                            type: 'outside'
                        },
                        thumbs: {
                            width: 50,
                            height: 50
                        }
                    }
                });
            }
            initTable() {
                var instance = this;
                instance.dtTable = instance.$table.DataTable({
                    "processing": true,
                    "serverSide": false,
                    "filter": true,
                    "datatype": "json",
                    "ajax": {
                        type: "get",
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        url: "/Product/GetAllProducts",
                        //data: function (d) {
                        //    d.search.value = $(".dataTables_filter input").val();
                        //    return JSON.stringify(d);
                        //},
                    },
                    "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.

                    "lengthMenu": [
                        [5, 15, 20, -1],
                        [5, 15, 20, "Tất cả"] // change per page values here
                    ],
                    // set the initial value
                    "pageLength": 5,

                    columns: [
                        {
                            title: 'Name',
                            data: 'name'
                        },
                        {
                            title: 'Category',
                            data: 'category.name'
                        },
                        {
                            title: 'Quantity Per Unit',
                            data: 'quantity_per_unit'
                        },
                        {
                            title: 'Unit Price',
                            data: 'unit_price'
                        },
                        {
                            title: 'Units In Stock',
                            data: 'units_in_stock'
                        },
                        {
                            title: 'Description',
                            data: 'description'
                        },

                        {
                            title: 'Actions',
                            render: function (data, type, row, meta) {
                                return `<a class="btn btn-sm btn-primary view-item" role="button" data-toggle="modal" href="#view_modal" aria-expanded="false">
                                                                                    View
                                                                                    <i class="fa fa-eye"></i>
                                                                                </a>
                                                                                <a class="btn btn-sm btn-warning edit-item" role="button" data-toggle="modal" href="#edit_modal" aria-expanded="false">
                                                                                    Edit
                                                                                    <i class="fa fa-edit"></i>
                                                                                </a>
                                                                                <a class="btn btn-sm btn-danger delete-item" role="button" aria-expanded="false">
                                                                                    Delete
                                                                                    <i class="fa fa-trash"></i>
                                                                                </a>`;
                            },
                            width: '220px',
                            className: 'text-center'
                        }
                    ],
                    columnDefs: [
                        {
                            orderable: false,
                            targets: [2]
                        }
                    ],

                    "initComplete": function (settings, json) {
                        instance.bindEvents();
                    }
                });

            }
            reloadTable() {
                var instance = this;
                instance.dtTable.ajax.reload();
                setTimeout(() => {
                    instance.bindEvents();
                }, 1000);

            }
            bindEvents() {
                let instance = this;
                instance.$table.find(' a.delete-item').on('click', (e) => {
                    e.preventDefault();
                    var selectedRow = $(e.target).parents('tr')[0];
                    var data = instance.dtTable.row(selectedRow).data();
                    instance.delete(data);
                });
                instance.$table.find('a.edit-item').on('click', (e) => {
                    e.preventDefault();
                    var selectedRow = $(e.target).parents('tr')[0];
                    var data = instance.dtTable.row(selectedRow).data();
                    instance.bindEditData(data);
                });
                instance.$table.find('a.view-item').on('click', (e) => {
                    e.preventDefault();
                    var selectedRow = $(e.target).parents('tr')[0];
                    var data = instance.dtTable.row(selectedRow).data();
                    instance.bindViewData(data);
                });
            }
            createValidation() {
                var instance = this;
                instance.createData = {};
                let isValid = true;
                $.each(this.$createMd.find("[name][required]"), (index, item) => {
                    if ($(item).val() == "") {
                        isValid = false;
                        EXO.alert("Please enter all infomation on this form!");
                    }
                    else {
                        instance.createData[$(item).attr("name")] = $(item).val();
                    }
                });
                return isValid;
            }
            create() {
                var instance = this;
                if (instance.createValidation()) {
                    var data = new FormData();
                    $.each(instance.createData, (key, value) => {
                        if (key != "files") {
                            data.append(key, value);
                        }
                    });
                    var files = instance.$createMd.find("[name=files]")[0].files;
                    if (files != null) {
                        $.each(files, (index, file) => {
                            data.append("files[" + index + "]", file);
                        });
                    }
                    $.ajax({
                        url: '/Product/CreateOrUpdateProduct',
                        type: 'POST',
                        data: data,
                        cache: false,
                        dataType: 'json',
                        processData: false,
                        contentType: false,
                        success(response, textStatus, jqXHR) {
                            if (response.success) {
                                instance.$createMd.find("form")[0].reset();
                                instance.reloadTable();
                                instance.$createMd.hide();
                            }
                            EXO.alert(response.message);
                        },
                        error(jqXHR, textStatus, errorThrown) {
                            EXO.alert('Tạo mới thất bại!');
                        }
                    });
                }
            }
            bindViewData(data) {
                var instance = this;
                var $form = instance.$viewMd.find("form");
                $.each(data, (key, value) => {
                    var item = $form.find(`[name=${key}]`);
                    if (item.length > 0)
                        item.val(value);
                });

                var $imgWrapper = $form.find('.images').html(`<span style="display:block;">Chưa có ảnh sản phẩm</span>`);
                if (data.images!=null&&data.images.length > 0) {
                    data.images.forEach(img => {
                        $imgWrapper.append(`
                            <a data-fancybox="fancybox-thumb" rel="fancybox-thumb" href="${img.path}" title="Golden Manarola (Sanjeev Deo)">
                                <img src="${img.path}" alt="${img.original_name}" />
                            </a>`);
                    });
                }
            }
            bindEditData(data) {
                var instance = this;
                var $form = instance.$editMd.find("form");
                $.each(data, (key, value) => {
                    var item = $form.find(`[name=${key}]`);
                    if (item.length > 0)
                        item.val(value);
                });
            }
            editValidation() {
                var instance = this;
                instance.editData = {};
                let isValid = true;
                $.each(this.$editMd.find("[name][required]"), (index, item) => {
                    if ($(item).val() == "") {
                        isValid = false;
                        EXO.alert("Please enter all infomation on this form!");
                    }
                    else {
                        instance.editData[$(item).attr("name")] = $(item).val();
                    }
                });
                return isValid;
            }
            edit() {
                var instance = this;
                if (instance.editValidation()) {
                    var data = new FormData();
                    $.each(instance.editData, (key, value) => {
                        if (key != "files") {
                            data.append(key, value);
                        }
                    });
                    var files = instance.$editMd.find("[name=files]")[0].files;
                    if (files != null) {
                        $.each(files, (index, file) => {
                            data.append("files[" + index + "]", file);
                        });
                    }
                    $.ajax({
                        url: '/Product/CreateOrUpdateProduct',
                        type: 'POST',
                        data: data,
                        cache: false,
                        dataType: 'json',
                        processData: false,
                        contentType: false,
                        success(response, textStatus, jqXHR) {
                            if (response.success) {
                                instance.$createMd.find("form")[0].reset();
                                instance.reloadTable();
                                instance.$editMd.hide();
                            }
                            EXO.alert(response.message);
                        },
                        error(jqXHR, textStatus, errorThrown) {
                            EXO.alert('Tạo mới thất bại!');
                        }
                    });

                }
            }
            delete(data) {
                var instance = this;
                EXO.confirm("Are you sure to delete this product?", response => {
                    if (response.value)
                        $.ajax({
                            url: "/Product/DeleteProduct",
                            data: { id: data.id },
                            type: 'get'
                        }).done(function (response) {
                            if (response.success) {
                                instance.$createMd.find("form")[0].reset();
                                instance.reloadTable();
                                instance.$createMd.hide();
                            }
                            else
                                EXO.alert("Cannot delete this category, Because It's used by another products!");
                        });
                });
            }
        }

        $(document).ready(function () {
            new PageHandler();
        });
    </script>
}